*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}