*
{ 
    margin: 0 auto;
}

#container
{
    width: 80%;
    height: 700px;
    border: 1px solid pink;
}

header
{
    width: 100%;
    height: 100px;
    background-color: #294e79;
}

#headerimg img
{
    height: 100px;
    float: left;
    width: 10%;
    width: 100px;
}

#tieude
{
    float: left;
    width: 30%;
}

#tieude h1
{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
}

#tieude p
{
    color: white;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

#menuandsearch
{
    float: left;
    width: 60%;
}

#menu
{
    width: 100%;
    height: 50px;
    text-align: right;
}

#search ul li
{
    display: inline;
    list-style-type: none;
    font-size: 20px;
    margin: 10px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    text-align: right;
    background-color: #8c9fff7f;
}

input::placeholder {
    color: white;
}

section
{
    width: 70%;
    height:600px;   
    float: left;
}

#headersection
{
    width: 100%;
    height: 100px;
    color: gray;
    border-bottom: 2px dotted gray;
}

#headersection h2
{
    padding-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#sectionsection
{
    width: 60%;
    height: 500px;
    float: left;
}

#secsecp 
{
    font-size: 20px;
    color: red;
    padding: 10px;  
    text-shadow: 0px 10px 10px black;
}

#secsecform table
{
    width: 100%;
    margin-left: 50px;
}

.inputtext
{
    width: 200px;
    height: 20px;
}

#headeraside
{
    width: 100%;
    height: 100px;
    border-bottom: 1px dashed gray;
    color: gray;
}

#headeraside h2
{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    font-size: 35px;
    margin-top: 20px;
}

.ulas
{
    list-style-type: none;
}

.lias
{
    font-size: 20px;
    color: gray;
}


#asidesec
{
    width: 40%;
    height: 500px;
    float: left;
}



aside
{
    width: 30%;
    height:600px;
    float: left;
}

#h2aside
{
    width: 100%;
    height: 100px;
    border-bottom: 1px dashed gray;
}

#h2aside h2
{
    text-align: left;
    font-size: 30px;
    padding-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
}

#imgaside
{
    width: 98%;
    height: 200px;
}

#imgaside img
{
    width: 454px;
    height: 200px;
}

#paside
{
    width: 100%;
    height: 350px;
    margin-top: 20px;
}

#paside p
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

#paside a
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    padding-left: 300px;
}

footer
{
    width: 100%;
    height: 50px;
    clear: both;
    background-color: #294e79;
}

footer p
{
   font-size: 20px;
   text-align: center;
   padding-top: 13px;
}