/* RESET CSS */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #09394d;
}

/* HEADER */
.navbar {
    padding: 15px 0;
}

.navbar-nav .nav-item {
    margin-right: 20px;
}

.navbar-brand {
    font-size: 1.8rem;
}

/* SECTION */
.container {
    max-width: 1100px;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.img-fluid {
    max-width: 90%;
    height: auto;
}

button {
    width: 170px;
    height: 50px;
    font-size: 1.2rem;
}

/* BUTTON HOVER EFFECT */
button.btn-danger:hover {
    background-color: #b20000;
}

button.btn-outline-light:hover {
    background-color: white;
    color: black;
}

p {
    font-size: 1rem;
    text-align: center;
}
